services:
  caddy:
    image: caddy:2.7.6
    restart: unless-stopped
    env_file: .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - internal

  postgres:
    image: postgres:15
    restart: always
    env_file: .env
    expose:
      - "5432"
    networks:
      - internal
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  compritas:
    image: ghcr.io/joselo/compritas:develop
    pull_policy: always
    depends_on:
      postgres:
        condition: service_started
    networks:
      - internal
    volumes:
      - storage:/app/storage
      - uploads:/app/priv/static/uploads
    restart: always
    env_file: .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://compritas:4000/health"]
      interval: 10s
      timeout: 5s
      retries: 3
    expose:
      - "4000"

networks:
  internal:

volumes:
  caddy_data:
  caddy_config:
  postgres_data:
  storage:
  uploads:
