SECRET_KEY_BASE=ccGFkh2w57wSSmjr2qHK2uYZqsMud5koniOvc6JRZnrifbri3KVWaVynHYesEq62
PHX_SERVER=true
PHX_HOST=compritas.test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@postgres:5432/compritas_prod?schema=public
FROM_EMAIL=contact@example.com
