SECRET_KEY_BASE=ccGFkh2w57wSSmjr2qHK2uYZqsMud5koniOvc6JRZnrifbri3KVWaVynHYesEq62
PHX_SERVER=true
PHX_HOST=compritas.test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@postgres:5432/compritas_prod?schema=public
FROM_EMAIL=contact@example.com
MAIL_DOMAIN_NAME=compritas.test
MAIL_USER=contact
MAIL_PASS=password123
MAIL_SSL_TYPE=
# MAIL_SSL_TYPE=letsencrypt
SMTP_SERVER=mailserver
SMTP_USERNAME=contact@compritas.test
SMTP_PASSWORD=password123
SMTP_PORT=587
